<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="dropf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <dropf.Properties.Settings>
      <setting name="Position" serializeAs="String">
        <value>0,0</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="ReplaceFileNames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CategorizeFolders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenNewFolders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PutTimestamp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseUrlShortener" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UrlShortenerService" serializeAs="String">
        <value />
      </setting>
      <setting name="FileExistAction" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SelectedFtpSite" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LockPosition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCopy" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>64, 64</value>
      </setting>
      <setting name="FtpQuickJump" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ZipLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlwaysSendTextAsTxt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ZipMultipleFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ZipFolders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EncryptZipFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ZipPassword" serializeAs="String">
        <value />
      </setting>
    </dropf.Properties.Settings>
  </userSettings>
</configuration>
